<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="yahoo App Automation">
  <test thread-count="5" name="yahoo App test">
  
  <parameter name ="url" value="https://login.yahoo.com"/>
  <parameter name="emailID" value="test@123@yahoo.com"/>
  <parameter name = "browser" value = "fireFox"/>
  
  
    <classes>
      <class name="com.crm.qa.practice.parameters"/>     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
